
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!--强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览；-->
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<!--iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览-->
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<!--iphone的私有标签，它指定的iphone中safari顶端的状态条的样式-->
		<title>教师资格证报名学习培训咨询中心</title>
		<link href="/static/wap/css/stylehjs_xm.css" rel="stylesheet" type="text/css" />
		
		<!--下面是百度统计-->
		
		<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?345b875cd34ddeb796813336722d518b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
		<!--上面是百度统计-->
	</head>
	<body>
<!--		<div class="link-btns">
			<div class="wrap" id="link-btns">
				<a onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx" class="l-btn tal" style="width:100%; float:right;"><img src="images/mvpic.png" style=" float:left; margin-left:30px; width:17%;" /><span style="font-size:17px">免费领取学历提升方案</span></a>
			</div>
		</div>-->
<div class="nav"> 
 <ul> 
  <li onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">考试费用</li> 
  <li onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报名时间</li> 
  <li onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报考条件</li> 
  <li onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">考试科目</li> 
 </ul> 
</div>
<section class="part1" style=" margin-top:26px"> 
 <figure class="logo"> 
  <!--<img src="images/logowhite.png">--> 
 </figure>
 <h1>国考教师资格证<br></h1> 
 <div class="line"></div> 
 <h2>幼师资格证 · 小学教师证 ·中学教师证</h2> 
 <!--<ul class="evidence">
				<li><span class="icon1"></span>非师范生报考</li>
				<li><span class="icon2"></span>零基础考教师证</li>
			</ul>--> 
<!-- <div class="deadline"> 
  <h3>报名截止时间</h3> 
  <div class="deadline-box"> 
   <div class="month-box curMonth">8</div> 
   <p class="month-text">月</p> 
   <div class="day-box curDate">23</div> 
   <p class="day-text">日</p> 
   <div class="clear"></div> 
  </div> 
 </div>--> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报名条件查询</a> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报考时间查询</a> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">幼师报名查询</a> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">中小学报名查询</a> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">非师范报考条件查询</a> 
 <!--<p class="note">*2019年<span class="curMonth">3</span>月<span class="curDate">28</span>日18:00截止*</p>--> 
</section>
		<section class="arrow-down">
		</section>
<section class="part5"> 
 <h4>教师资格证报名与考试信息<br>自助查询系统</h4> 
 <ul class="info-list"> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报考条件</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报名时间</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">考试时间</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">考试费用</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">考试科目</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报考流程</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">报考限制</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">国考改革</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">户籍限制</a> </li> 
  <div class="clear"></div> 
 </ul> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">非师范生报考</a> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">零基础考教师证</a> 
<!-- <p class="note">*2019年<span class="curMonth">3</span>月<span class="curDate">28</span>日18:00截止*</p> -->
</section>
		<section class="arrow-down">
		</section>
<section class="part4"> 
 <h4>教师资格证常见问题解答</h4> 
 <div class="questions-box"> 
  <ul class="questions"> 
   <li style="border-top: 1px dashed #d7d7d7;"> <a href="#">1.非师范生可以考教师证吗？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">2.不是本地户口能报考吗？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">3.考教师资格证学费是多少？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">4.教师证考什么内容？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">5.报考条件及报考须知？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">6.2019年有什么新政策？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">7.社会人员怎么参考考试？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">8.报考条件有学历要求吗？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">9.学历不符怎么考教师证？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">10.上班族怎么安排时间考证？</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">11.报考流程是什么？手续有哪些？</a> </li> 
  </ul> 
  <ul class="questions-btn"> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
   <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">查看答案</a> </li> 
  </ul> 
  <div class="clear"></div> 
 </div> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">人工咨询更多问题</a> 
 <!--<p class="note">*2019年<span class="curMonth">3</span>月<span class="curDate">28</span>日18:00截止*</p> -->
</section>
		<section class="arrow-down">
		</section>
		<section class="part3"> 
 <h4>国考各地<br>报考条件报考时间查询</h4> 
 <ul class="info-list"> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">辽宁省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">河北省</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">吉林省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">福建省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">安徽省</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">江西省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">山东省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">湖北省</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">广西省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">四川省</a> </li> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">重庆市</a> </li> 
  <li style="margin-right: 0;"> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">北京市</a> </li> 
  <div class="clear"></div> 
 </ul> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">其他地区查询</a> 
<!-- <p class="note">*2019年<span class="curMonth">3</span>月<span class="curDate">28</span>日18:00截止*</p> -->
</section>
		<section class="arrow-down">
		</section>
<section class="part7"> 
 <h4>教师资格证政策变化预测解析</h4> 
 <p class="forecast-title">考生提醒</p> 
 <ul class="forecast-questions"> 
  <li> <a style="line-height:25px;" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx"><span>【非师范生受限条件】</span><br>目前多地域已实行非师范生相关专业限制，<br>考生需抓住17年报考机会</a> </li> 
  <li> <a style="line-height:25px;" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx"><span>【考试科目变化】</span><br>笔试科目改为综合素质、教育知识以能力，<br>面试改为结构化面试</a> </li> 
  <li> <a style="line-height:25px;" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx"><span>【考试难度加大】</span><br>暂无专用教材，面试择优录取，步骤复杂</a> </li> 
 </ul> 
 <p class="forecast-title">应对策略</p> 
 <ul class="forecast-questions"> 
  <li> <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">【前应对考试变化，避免政策变化】</a> </li> 
  <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx"> </a> 
 </ul> 
 <a href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx"> </a> 
 <a class="btn" href="javascript:;" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">我该如何学习</a> 
<!-- <p class="note">*2019年<span class="curMonth">3</span>月<span class="curDate">28</span>日18:00截止*</p> -->
</section>
		
		<section class="arrow-down">
		</section>
		<section class="part8">
			<h4>为什么<br />你需要一个教师资格证？</h4>
			<ul class="reasons">
				<li>
					<a onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">120天带薪假期</a>
					<p>双休+寒暑假，一年累计120余天带薪假期</p>
				</li>
				<li>
					<a onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">公务员待遇</a>
					<p>编内教师享受和公务员同等级别公积金、购房、医疗、养老等待遇</p>
				</li>
				<li>
					<a onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">就业前景乐观</a>
					<p>二胎政策普及扩大教师行业市场、社会尊重度高、时间自由灵活</p>
				</li>
				<li>
					<a onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">景点机票半价</a>
					<p>凭借教师证可在全国绝大部分景点半价购票，机票6折优惠；</p>
				</li>
				<li>
					<a onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">子女快人一步</a>
					<p>父母是子女的第一任老师，正确的教育方式让自己孩子赢在起跑线</p>
				</li>
			</ul>
			<a class="btn" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">人工咨询</a>
	<!--		<p class="note">*2019年<span class="curMonth"></span>月<span class="curDate"></span>日18:00截止*</p>-->
		</section>
		<section class="arrow-down">
		</section>
		<!--<section class="part9">
			<h4>0学费助学<br />名额申请中</h4>
			<figure class="grant-img">
				<img src="images/grant.jpg" />
			</figure>
			<p class="grant-intro">在这个城市，很多时候，我们怀揣教师梦，羡慕教师行业的高薪稳定，却因为考证的难度、面试高额培训费用而却步。</p>
			<p class="grant-intro">教师资格考试网联合各省市打破考试难度，推出笔试面试一站式服务，成功帮助全国10W余学员顺利当上教师。</p>
            <p class="grant-intro">留下联系方式申请免费助学名额，祝您早日实现教师梦！</p>
			<a class="btn" onclick="mantis.requestChat();return false;" data-toggle="modal" data-target=".zx">抢助学名额</a>
			<p class="note">*2019年<span class="curMonth"></span>月<span class="curDate"></span>日18:00截止*</p>
		</section>-->
		<section class="arrow-down">
		</section>
		<section class="arrow-down">
	    </section>
		<footer style="color:#DCDCDC;">
			<p>版权所有:聚盟（天津）企业管理咨询有限公司 </p>
		</footer>
		<section class="fixed-nav" style="bottom: 70px;"> 
 <a onclick="mantis.requestChat();return false;" class="free-plan" data-toggle = "modal" data-target = ".zx" >免费报考<br />指导方案</a> 
</section> 
		<div class="icon-arrow-up" data-type="arrow">
			<i class="ani-up1"></i>
		</div>
		
		<!--底部悬浮-->
		<!--底部悬浮结束-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/static/wap/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/wap/js/bootstrap.min.js"></script>
		<script language="javascript" type="text/javascript">
			$(window).scroll(function() {
				if($(document).scrollTop() + $(window).height() >= $(document).height()) {
					$('.icon-arrow-up').fadeOut(300)
				} else { $('.icon-arrow-up').fadeIn(300) }
			});
		</script>
		<script>
			$(function() {
				var url = this.location.href;
				$("form #field3").each(function(n) {
					$("form #field3").get(n).value = url;
				})
			})
		</script>
		<!--<script src="js/jquery.min.js"></script>-->
		<script src="/static/wap/js/mayDate.js"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$("#loading").fadeOut(300);
			})
		</script>
		<script language="javascript">
			var box = document.getElementById("scroll_question"),
				can = true;
			box.innerHTML += box.innerHTML;
			box.onmouseover = function() { can = false };
			box.onmouseout = function() { can = true };
			new function() {
				var stop = box.scrollTop % 40 == 0 && !can;
				if(!stop) box.scrollTop == parseInt(box.scrollHeight / 2) ? box.scrollTop = 0 : box.scrollTop++;
				setTimeout(arguments.callee, box.scrollTop % 40 ? 10 : 1000);
			};
		</script>
<!--<script type="text/javascript" charset="utf-8" src="js/10072593.js "></script>-->
	<script src="http://talk2.bjmantis.net/chat/js/dist/mantis.min.js?7012#5b6a6d1df12a5f2e610480cf"></script>
<script>  	
function openJesongChat(c,tar){
	  	if("undefined" == typeof jesong){
	  		var p='';
			if( c == 'c')
p = 'n='+tar;
			else if(c == 'g'&&tar!=null&&tar!='0')
				p = 'g=' + tar;
			openNoJesongJsChat(p);
	  	}else{
	  		jesong.win.openChat(c,tar);
	  	}
		return false;
  	}	
  	function openNoJesongJsChat(c){
				var url = "http://live.jswebcall.com/live/" +'chat.do?c=6941';
				url = url +"&chatUrl="+window.encodeURIComponent(window.location.href);
				if(getCook("im_refer")){
					url = url +"&refer="+window.encodeURIComponent(getCook("im_refer"));
				}
				 if( typeof c == 'string' &&c.length !=0 ){
					url += '&'+c;
				}
				var p = "height=500,width=800,directories=no,location=no,menubar=no,resizeable=no,status=no,toolbar=no,top=100,left=200";
				try{
					var cw = window.open(url,'chat_'+1,p);cw.focus();
				}catch(e){
					if(c.force)window.location = url;				
				}
  	}
</script>
	</body>
</html>